services:
  rss_app:
    container_name: rss_app
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: happiness-postgres
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: rss_feed
      NODE_ENV: development
      PORT: 3020
    ports:
      - "3020:3020"
    depends_on:
      - rss_nginx
    networks:
      - default

  rss_nginx:
    image: nginx:alpine
    container_name: rss_nginx
    ports:
      - "8082:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - default

networks:
  default:
    external: true
    name: bridge

volumes:
  rss_postgres_data: 