services:
  rss_app:
    container_name: rss_app
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: localhost
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: rss_feed
      NODE_ENV: development
      PORT: 3020
    ports:
      - "0.0.0.0:3020:3020"
    network_mode: host

  rss_nginx:
    image: nginx:alpine
    container_name: rss_nginx
    ports:
      - "8082:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - rss_app

volumes:
  rss_postgres_data: 